body{
	width: 100%;
	font-family: Arial;
}

h1{
	color: #57c5a0;
	line-height: 50px;
}

h2{
	font-size: 20pt;
}

a{
    text-decoration: none;
}

.wrapper{
    margin: 0 auto;
    width : 65%;
}

header{
    background-color: #242424;
    float: left;
    width: 100%;
}

.title{
    float: left;
}

.title:hover{
    
}

.title a{
    color: #57c5a0;
}


.rechercher, .connexion{
    float: right;
}

.rechercher{
    margin: 15px 20px 0 0;
}

.connexion{
    border-left : 1px solid rgba(126,126,126,0.5);
    border-right: 1px solid rgba(126,126,126,0.5);
    height      :50px;
    font-family : 'open_sansregular';
    color       : #7e7e7e;
    font-size   : 0.7em;

}

.connexion__login{
    margin: 20px 10px;
}

.connexion a{
    color: #7e7e7e;
}
.connexion a:hover{
    color: #57c5a0;
}


header::after{
    content:"";
}

nav{
    display: inline-block;
}

nav ul{
 width: 100%;
 font-family: 'open_sanssemibold';
 font-size: 1em;
}

nav .etoilepanier{
    font-family:'open_sansregular';
    font-size: 0.8em;
}


nav ul li {
    display: inline-block;
    border-left: 1px solid rgba(126,126,126,0.5);
    height: 60px;
}

nav ul a:hover {
    color: #57c5a0;
}

nav ul li:nth-child(6){
    border-right: 1px solid rgba(126,126,126,0.5);
}
.marg{
    margin: 0 20px;
}
nav ul li a{
    color: #242424;
    line-height: 60px;
}





