body{
	width: 100%;
	font-family: Arial;
}

h1{
	color: #57c5a0;
	line-height: 50px;
}

h2{
	font-family: 'open_sansregular';
    font-size: 2em;
    margin: 10px 0;
}

a{
    text-decoration: none;
}

.wrapper{
    margin: 0 auto;
    width : 65%;
}

header{
    background-color: #242424;
    float: left;
    width: 100%;
}

.title{
    float: left;
}

.title:hover{
    
}

.title a{
    color: #57c5a0;
}


.rechercher, .connexion{
    float: right;
}

.rechercher{
    margin: 15px 20px 0 0;
}

.connexion{
    border-left : 1px solid rgba(126,126,126,0.5);
    border-right: 1px solid rgba(126,126,126,0.5);
    height      :50px;
    font-family : 'open_sansregular';
    color       : #7e7e7e;
    font-size   : 0.7em;

}

.connexion__login{
    margin: 20px 10px;
}

.connexion a{
    color: #7e7e7e;
}
.connexion a:hover{
    color: #57c5a0;
}


header::after{
    content:"";
}

nav{
    display: inline-block;
}

nav ul{
 width: 100%;
 font-family: 'open_sanssemibold';
 font-size: 1em;
}

nav .etoilepanier{
    font-family:'open_sansregular';
    font-size: 0.8em;
}


nav ul li {
    display: inline-block;
    border-left: 1px solid rgba(126,126,126,0.5);
    height: 60px;
}

nav ul a:hover {
    color: #57c5a0;
}

nav ul li:nth-child(6){
    border-right: 1px solid rgba(126,126,126,0.5);
}
.marg{
    margin: 0 20px;
}
nav ul li a{
    color: #242424;
    line-height: 60px;
}


.panier{
    float: right;
    border-right: 1px solid rgba(126,126,126,0.5);
    height: 60px;
    width: 90px;
    
}

.etoile{
    float: right;
    border-right: 1px solid rgba(126,126,126,0.5);
    border-left: 1px solid rgba(126,126,126,0.5);
    height: 60px;
    width: 90px;
}


.align{
    width: 50px;
    margin: 20px auto;
}




.nbr-etoile{
    font-family: 'open_sansregular';
    font-size: 0.8em;
    float: right;
    background-color: #adadad;
    color: #FFF;
    padding: 4px;
    border-radius: 4px;
    text-align: center;

}

.nbr-panier{
    font-family: 'open_sansregular';
    font-size: 0.8em;
    float: right;
    background-color: #57c5a0;
    color: #FFF;
    padding: 4px;
    border-radius: 4px;
    text-align: center;

}

.fa{
    font-size: 1.2em;
    color: #adadad;   
}

.fa:hover{
    color: #57c5a0;
}


.slider{
    font-family: 'open_sansregular';
    background-color: #efece9;
    overflow: auto;
}

.baniere{
    float: left;

}
.info-baniere{
    padding: 70px 0 0 50px;
}

.text-baniere p{
    line-height: 20px;
    font-size: 1.1em;
    text-align: left;
}

.container{
    display: inline-block;
    margin-top: 30px;
}
.container li{
    display: inline-block;
    background-color: #FFF;
    padding: 10px;
}

.container a:hover *{
    color: #57c5a0;
}


.marque{
    background-color: #2e2e2e;
}

.nav-slider{
    display: flex;
    justify-content: center;
    font-family: 'open_sansregular';
}

.text-marque{
    padding: 1em 1em;
    color: #979797;
    width: 150px;
    text-align: center;
}

.text-marque p{
    color: #6e6e6e;
    font-size: 0.7em;
    margin-top: 5px;
}
.trait hr{
    border: 3px solid #000;
}

.marque-1:hover > .trait hr{
    border: 3px solid #57c5a0;
}

.marque-2:hover > .trait hr{
    border: 3px solid #57c5a0;
}

.marque-3:hover > .trait hr{
    border: 3px solid #57c5a0;
}

.marque-4:hover > .trait hr{
    border: 3px solid #57c5a0;
}

.marque-5:hover > .trait hr{
    border: 3px solid #57c5a0;
}



.highlight hr{
    border: 3px solid #57c5a0;
}

.droit {
    border-right: 1px solid #7e7e7e;
}

.marque-1{
    margin-bottom: 10px;
}

.text-marque:hover{
    cursor: pointer;
    color: #FFF;
}

.marque-1:hover{
    cursor: pointer;
    color: #FFF;
}
.marque-2:hover{
    cursor: pointer;
    color: #FFF;
}
.marque-3:hover{
    cursor: pointer;
    color: #FFF;
}
.marque-4:hover{
    cursor: pointer;
    color: #FFF;
}
.marque-5:hover{
    cursor: pointer;
    color: #FFF;
}

.vignettes{
    background-color: #242424;

}

.vignette{
    margin: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 158px;
}


.vignette-gauche{
    background-image: url('../img/onsale.png');
}

.vignette-milieu{
    background-image: url('../img/specialoffers.png');
}
.vignette-droite{
    background-image: url('../img/musthave.png');
}

.text-vignette{
    padding: 20px;
    background-color: rgba(0,0,0,0.8);
    font-size: 1.2em;
    color: #FFF;
}

.vignette:hover{
    cursor: pointer;
}
